* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(72, 72, 72);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
}

main h1 {
    margin: 20px 0 10px 30px;
    font-size: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 143, 143);
}

.search-box {
    margin: 10px 0 20px 30px;    
    font-size: 15px;
    padding: 5px;
    width: 200px;
}

.search-btn {
    margin: 10px 0 20px 30px;  
    padding: 5px;
    cursor: pointer;
    color: rgb(253, 75, 75);
    background-color: aquamarine;
    width: 100px;
}

.search-btn:hover {
    color: aquamarine;
    background-color: rgb(253, 75, 75);
    transition: all 0.6s ease-in-out;
}

.container {
    flex-direction: column;
}

#weather-card {
    margin: 20px;
    padding: 10px;
    color: burlywood;
    background-color:rgb(0, 108, 181);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: solid 3px rgb(48, 18, 18);
    width: 300px;
}

#weather-card h3 {
    color: black;
}

#day1,
#day2,
#day3,
#day4,
#day5 {
    margin: 20px 20px 20px 20px;
    padding: 10px;    
    font-family: 'Courier New', Courier, monospace;
    color: rgb(5, 205, 205);
    background-color:rgb(0, 108, 181);
    border: solid 3px black;
    border-radius: 5px;
    width: 300px;
}

#date1,
#date2,
#date3,
#date4,
#date5 {
    color: rgb(192, 225, 0);
}